<h3>
    Hello {{ user.getUsername }}, Please confirm your email address.
</h3>

<p>
    Please confirm your e-mail address by clicking <a href="{{ url('confirm_user_token',{'token': user.getConfirmationToken}) }}">this link</a>
</p>