<h3>
    Hello {{ user.getUsername }}, welcome to Polucon, credentials details are mentioned below:
</h3>

<p>
   <b>USERNAME:</b>{{ user.getUsername }}
</p>
<p>
    <b>PASSWORD:</b>{{ password }}
</p>